﻿@model RegistrationtoDevOps_Demo.Models.Registration

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/Calender.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {
        $(function Result() {
            debugger;
            $("#txtDOB").on("change",function () {
                $("#txtAge").val(calcAge(new Date($(this).val())));
            });
        });
    });
  
    function calcAge(birthday) {
        var agediff = Date.now() - birthday.getTime();
        var agedate = new Date(agediff);
        return Math.abs(agedate.getUTCFullYear() - 1970);
    };
    $(document).ready(function () {
        $("#txtDOB").datepicker(
            {
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                               
            }
            );
    });

</script>
<h1 style="text-align:left;font-family:Arial;font-weight:500">Registration To DevOps</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.Location,
                   new List<SelectListItem>{
                   new SelectListItem{Text="SLK1", Value="SLK1"},
                   new SelectListItem{Text="MFAR", Value="MFAR"},
                   new SelectListItem{Text="MTP", Value="MTP"},
                   new SelectListItem{Text="ECO-WORLD", Value="ECO-WORLD"} },
                   "Please select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-1 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control glyphicon glyphicon-calendar", @id = "txtDOB" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @id = "txtAge" } })

                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="location.href='@Url.Action("View", "HomeController")'" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Clear List", "Index")
</div>
