﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div style="background-color:mediumpurple">
        <h2> Registration completed</h2>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Jenkins" class="btn btn-default" onclick="location.href = 'http://10.41.133.125:8080/';" />
            <input type="button" value="PMP" class="btn btn-default" onclick="location.href = '@System.Web.Configuration.WebConfigurationManager.AppSettings["PMP"]'" />
            <input type="button" value="Converge" class="btn btn-default" onclick="location.href = '@System.Web.Configuration.WebConfigurationManager.AppSettings["Converge"]'" />
        </div>
        <div>
            @Html.ActionLink("Back", "Index")
        </div>
    </div>
</body>
</html>
